<p id="notice"><%= notice %></p>

<h1>Listing Sponsers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Logo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsers.each do |sponser| %>
      <tr>
        <td><%= sponser.name %></td>
        <td><%= sponser.url %></td>
        <td><%= sponser.logo %></td>
        <td><%= link_to 'Show', sponser %></td>
        <td><%= link_to 'Edit', edit_sponser_path(sponser) %></td>
        <td><%= link_to 'Destroy', sponser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sponser', new_sponser_path %>
