<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponser.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sponser.url %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @sponser.logo %>
</p>

<%= link_to 'Edit', edit_sponser_path(@sponser) %> |
<%= link_to 'Back', sponsers_path %>
